.visuallyhidden {
    display: none !important;
}

.hud .elementeditor .fields {
    padding: 24px;
}

.amnav__builder .hidden {
    display: list-item !important;
}

.amnav .amnav__parent {
    margin: 24px 0;
}

.amnav .amnav__blank {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url(../img/blank.png);
}

.amnav select {
    width: 100%;
}

.amnav__builder ul li {
    background: none !important;
}

.amnav__builder ul li:not(:last-child):not(.last) {
    border-left: none !important;
    padding-left: 38px !important;
}

.amnav__builder > li:first-child > .row {
    border-top: 1px dotted rgba(115, 127, 140, 0.15);
}

.amnav__builder .row {
    border-bottom: 1px dotted rgba(115, 127, 140, 0.15);
}

.amnav__builder .status {
    margin-right: 5px !important;
}

.amnav__builder .icon {
    margin: 5px 5px 0 0;
    opacity: 0;
    -webkit-transition: opacity linear 100ms;
    -moz-transition: opacity linear 100ms;
}

.amnav__builder .icon.settings {
    display: inline-block;
}

.amnav__builder .icon.settings:before {
	color: rgba(0, 0, 0, 0.2);
}

.amnav__builder .icon.settings:hover:before {
	color: #0d78f2;
}

.amnav__builder .amnav__node.element {
    display: inline-block;
    padding: 6px 7px;
}

.amnav__builder .amnav__node.element.loading {
    padding-right: 29px;
}

.amnav__builder .amnav__type {
    float: right;
    width: 80px;
    font-size: 12px;
    text-transform: lowercase;
    padding: 6px 7px;
    cursor: default;
}

.amnav__builder .amnav__type span {
    padding: 3px 10px;
    border-left: 2px solid #CCC;
    color: #999;
    background: #F5F5F5;
}

.amnav__builder .amnav__type .amnav__type--manual {
    color: #0d78f2;
    border-color: #0d78f2;
}

.amnav__builder .amnav__type .amnav__type--category {
    color: #1BB311;
    border-color: #1BB311;
}

.amnav__builder .amnav__type .amnav__type--asset {
    color: #da5a47;
    border-color: #da5a47;
}

.amnav__builder .amnav__url {
    float: right;
    padding: 6px 7px;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amnav__listclass,
.amnav__builder .amnav__url a {
    color: #8f98a3;
}

.amnav__builder .amnav__url a:hover {
    color: #0d78f2;
}

.structure .draghelper .status {
    margin-right: 5px;
}

.structure .draghelper .amnav__url,
.structure .draghelper .amnav__type,
.structure .draghelper .amnav__listclass,
.structure .draghelper .icon.settings,
.structure .draghelper .icon.delete {
    display: none;
}
