.visuallyhidden {
    display: none;
}

.amnav__builder .hidden {
    display: list-item !important;
}

.amnav .amnav__parent {
    margin: 24px 0;
}

.amnav__builder .icon.settings {
    display: inline-block;
}

.amnav__builder .icon.settings:before {
	color: rgba(0, 0, 0, 0.2);
}

.amnav__builder .icon.settings:hover:before {
	color: #0d78f2;
}